{% extends "base.html" %}


{% block content %}
<div class="col">
    <div class="row justify-content-center">
        <h2>Works Log</h2>
    </div>
    <div class="row">
        <a href="{{url_for('departments')}}" class="btn btn-secondary">Go to departments</a>
        {% if current_user.is_authenticated %}
            <a href="{{url_for('add_job')}}" class="btn btn-secondary">Add a job</a>
        {% endif %}
    </div>
    {% for job in jobs %}
    <h4>Action # {{job.id}}</h4>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title of activity</th>
                <th scope="col">Team leader</th>
                <th scope="col">Duration</th>
                <th scope="col">List of collaborators</th>
                <th scope="col">Is finished</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{job.job}}</td>
                <td>{{job.leader.fullname}}</td>
                <td>{{job.work_size}} hours</td>
                <td>{{job.collaborators}}</td>
                <td>{%if job.is_finished %}Is finished{%else%}Is not finished{%endif%}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if current_user.is_authenticated and (current_user.id == 1 or current_user == job.leader)%}
            <div>
                <a href="{{url_for('edit_job', id=job.id)}}" class="btn btn-warning">Edit job</a>
                <a href="{{url_for('delete_job', id=job.id)}}" class="btn btn-danger">Delete job</a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}