{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Authorisation</h1>
        <form method="post" action="{{url_for('login')}}" enctype="multipart/form-data">
                {% for field in form %}
                    {% if loop.last %}
                    <div class="form-group">
                        {{ field.label(class="control-label d-none") }}
                        {{ field(class="form-control")}}
                    </div>
                    {% else %}
                    <div class="form-group">
                        {{ field.label(class="control-label") }}
                        {{ field(class="form-control")}}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
    </div>
</div>
{% endblock %}